.bar {
  background: indigo;
  height: 3vh;
  padding: 2vh;

  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  top: 8vh;
}

.bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.bar ul li a {
  margin: 5px 15px;
}
